@keyframes fill {
	0% {
		stroke-dashoffset: 800;
	}
	100% {
		stroke-dashoffset: 170;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes bounce {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes slide-vert {
	0% {
		height: 0;
		padding: 0;
		opacity: 0;
	}
	100% {
		height: 100%;
		padding: map-get($layout, 'padding-sm') 0;
		opacity: 1;
	}
}

@keyframes slide-score {
	0% {
		max-height: 0;
		max-width: 0%;
	}
	100% {
		max-height: 80px;
		max-width: 100%;
	}
}

@keyframes team-slide {
	0% {
		max-height: 0;
		padding-top: 0;
		padding-bottom: 0;
		opacity: 0;
	}
	100% {
		max-height: 50px;
		padding-top: map-get($layout, 'padding-sm');
		padding-bottom: map-get($layout, 'padding-sm');
		opacity: 1;
	}
}

@keyframes slide-vert-alt {
	0% {
		max-height: 0;
		opacity: 0;
	}
	100% {
		max-height: 250px;
		opacity: 1;
	}
}

@keyframes clock-fade {
	0% {
		opacity: 0;
		font-size: 0;
	}
	100% {
		opacity: 1;
		font-size: map-get($font-size, 'heading-lg');
	}
}

@keyframes scale {
	0% {
		transform: scale(0);
	}
	80% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

.fill {
	@include animation-base(1s, 1, none);

	animation-name: fill;
	animation-timing-function: 'linear';
	animation-direction: normal;
}

.fade-in {
	@include animation-base();

	animation-name: fade;
	animation-direction: normal;
}

.fade-out {
	@include animation-base();

	animation-name: fade;
	animation-direction: reverse;
}

.bounce {
	@include animation-base();

	animation-name: bounce;
	animation-direction: normal;
}

.slide-in {
	@include animation-base();

	animation-name: slide-vert;
	animation-direction: normal;
}

.slide-in-score {
	@include animation-base();

	animation-name: slide-score;
	animation-direction: normal;
}

.slide-in-alt {
	@include animation-base(map-get($timing, 'medium'));

	animation-name: slide-vert-alt;
	animation-direction: normal;
}

.slide-out {
	@include animation-base();

	animation-name: slide-vert;
	animation-direction: reverse;
}

.fade-out-slow {
	@include animation-base(map-get($timing, 'medium'));

	animation-name: fade;
	animation-direction: reverse;
}

.team-slide-down {
	@include animation-base(map-get($timing, 'medium'));

	animation-name: team-slide;
	animation-timing-function: 'linear';
	animation-direction: normal;
}

.clock-fade-in {
	@include animation-base();

	animation-name: clock-fade;
	animation-direction: normal;
}

.clock-fade-out {
	@include animation-base();

	animation-name: clock-fade;
	animation-direction: reverse;
}

.scale-up {
	@include animation-base();

	animation-name: scale;
	animation-direction: normal;
}