* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}

html,
body {
	width: auto;
	height: auto;
	font-size: map-get($font-size, 'text-md');
}


h1,
h2,
h3 {
	display: inline;
}

h1 {
	font-size: map-get($font-size, 'heading-lg');
}

h2 {
	font-size: map-get($font-size, 'heading-md');
}

h3 {
	font-size: map-get($font-size, 'heading-sm');
}

p {
	font-size: map-get($font-size, 'text-lg');
	margin: 0 map-get($layout, 'padding-lg') map-get($layout, 'padding-lg');
}

svg {
	overflow: hidden !important;
}

body {
	background-image: map-get($background, 'main');
	background-repeat: repeat;

	.outer-wrapper {
		@include maxwidth(0, 0);

		height: auto;
		margin: 0 auto;
		box-shadow: 1px 6px 2px 1px rgba(0,0,0,.2);

		#wrapper-main {
			padding: map-get($layout, 'padding-lg');
			background-color: map-get($colors, 'content-primary');
		}

	}

}

@media (max-width: map-get($breakpoints, 'sm')) {

	p {
		margin: 0 map-get($layout, 'padding-md') map-get($layout, 'padding-lg');
	}

}

@media (max-width: map-get($breakpoints, 'xs')) {

	p {
		margin: 0 map-get($layout, 'padding-sm') map-get($layout, 'padding-lg');
	}

	body {

		.outer-wrapper {

			#wrapper-main {
				padding: map-get($layout, 'padding-md');
			}

		}

	}

}