// Base settings for animations
@mixin animation-base($duration: map-get($timing, 'short'), $iterations: 1, $fill: both) {
	animation-duration: $duration;
	animation-iteration-count: $iterations;
	animation-fill-mode: $fill;
}

// Materialize boxshadow
@mixin mat-boxshadow() {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}

// Show element as disabled
@mixin disabled() {

	&,
	* {
		color: map-get($colors, 'disabled-text') !important;
		background-color: map-get($colors, 'disabled-bg') !important;
		pointer-events: none;
		box-shadow: none;
		cursor: default;
	}

}

// Set maxwidth of container
@mixin maxwidth($paddingY: map-get($layout, 'padding-lg'), $paddingX: map-get($layout, 'padding-lg')) {
	max-width: map-get($layout, 'body-maxwidth');
	width: 100%;
	padding: $paddingY $paddingX;
}

// Set transparent background for score screen
@mixin score-bg($color1, $color2, $color3, $direction: 90deg) {
	background: $color2;
	background: linear-gradient($direction, $color1 0%, $color2 10%, $color3 25%);
}