button {

	&,
	&.btn,
	&.btn-flat,
	&.btn-floating,
	&.btn-large,
	&.btn-small {
		display: flex;
		justify-content: center;
		font-size: map-get($font-size, 'heading-sm');

		&.disabled {
			@include disabled();
		}

		svg {
			color: map-get($colors, 'font-alt');
			width: map-get($font-size, 'icon-md') !important;
			height: map-get($font-size, 'icon-md') !important;
		}

	}

	&.cancel {
		box-shadow: none !important;
		border: 1px solid map-get($colors, 'btn-cancel');
		color: map-get($colors, 'btn-cancel');

		&.disabled {
			border: none;
		}

		&,
		&:active {
			background-color: transparent;
		}

		&:focus {
			color: darken(map-get($colors, 'btn-cancel'), 20%);
			border-color: darken(map-get($colors, 'btn-cancel'), 20%);
			background-color: darken(map-get($colors, 'content-primary'), 4%);
		}

		&:hover {
			color: lighten(map-get($colors, 'btn-cancel'), 100%);
			background-color: lighten(map-get($colors, 'btn-cancel'), 10%);
			border-color: lighten(map-get($colors, 'btn-cancel'), 10%);
		}

	}

}