.card {

	&.no-padding-bottom {
		padding-bottom: 0;
	}

	.card-content {
		padding: 0;

		.inner{
			padding: map-get($layout, 'padding-md') map-get($layout, 'padding-md') map-get($layout, 'padding-lg');

			.card-title {
				text-align: center;
				font-weight: normal;
				margin: map-get($layout, 'padding-sm') map-get($layout, 'padding-md');
				font-size: map-get($font-size, 'heading-md');
			}

		}

	}

}