.counter {
	text-align: center;

	h2 {
		display: inline-block;
		margin: map-get($layout, 'padding-md') 0 map-get($layout, 'padding-sm');
	}

	.inner-wrapper {
		position: relative;

		.value {
			display: flex;
			justify-content: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 100%;
			max-width: map-get($layout, 'counter-maxwidth');
			padding: 0 map-get($layout, 'padding-md');
			color: map-get($colors, 'font-alt');
			font-size: map-get($font-size, 'heading-lg');
			z-index: map-get($zIndex, 'counter');

			span {
				margin: 0 map-get($layout, 'padding-sm');

				&.hide {
					display: none;
				}

				&.align-left {
					margin-right: auto;
				}

			}

		}

		.fa-stack {
			width: 100%;
			max-width: map-get($layout, 'counter-maxwidth');
			margin: 0 auto;
			display: block;
			width: 100%;
			height: auto;
			transition-duration: map-get($timing, 'short');

			svg {
				width: auto;
				height: auto;
				color: map-get($colors, 'content-secondary');
			}

			.fa-stack-1x {
				width: 70%;
			}

			.fa-stack-2x:not(.tertiary) {
				position: static;
				opacity: 0.6;
			}


		}

		.controls {
			display: flex;
			justify-content: space-between;
			position: absolute;
			bottom: 50%;
			left: 50%;
			transform: translate(-50%,50%);
			width: 100%;
			max-width: calc(#{map-get($layout, 'counter-maxwidth')} + 120px);
			transition-duration: map-get($timing, 'short');

			span {
				cursor: pointer;
				transition-duration: map-get($timing, 'short');

				&:not(.disabled):hover {

					svg {
						color: lighten(map-get($colors, 'content-secondary'), 5%);
					}

				}

				&.disabled {
					cursor: default;

					svg {
						color: map-get($colors, 'disabled-text');
					}

				}

				svg {
					width: map-get($font-size, 'icon-lg') !important;
					height: auto;
					color: map-get($colors, 'content-secondary');
					transition-duration: map-get($timing, 'short');
				}

			}

		}

	}

}

@media (max-width: map-get($breakpoints, 'xs')) {

	.counter {

		.inner-wrapper {

			.fa-stack {
				margin-bottom: 45px;
			}

			.controls {
				max-width: map-get($layout, 'clock-maxwidth');
				bottom: -25px;

				span:first-of-type {
					margin-left: 20%;
				}

				span:last-of-type {
					margin-right: 20%;
				}

			}

		}

	}

}