.dropdown-menu {

	.dropdown-trigger {

		svg {
			color: map-get($colors, 'content-secondary');
			width: map-get($font-size, 'icon-lg');
			height: map-get($font-size, 'icon-lg');
		}

	}

	.dropdown-content {
		width: auto !important;

		li {
			text-align: right;

			&.disabled {
				@include disabled();
			}

			a {
				display: flex;
				justify-content: flex-end;
				font-size: map-get($font-size, 'text-md');
				word-break: keep-all;
				white-space: nowrap;
				text-transform: uppercase;

				svg {
					float: right;
					margin: 0 0 0 map-get($layout, 'padding-sm');
					width: map-get($font-size, 'icon-sm');
					height: map-get($font-size, 'icon-sm');
				}

			}

		}

	}

}