.swal2-container {

	.swal2-modal {
		@include mat-boxshadow();

		padding: map-get($layout, 'padding-lg') map-get($layout, 'padding-md');

		.swal2-header {
			align-items: start;
			margin: 0 auto;
			width: 100%;
			max-width: map-get($layout, 'modal-maxwidth');

			.swal2-success {

				&,
				.swal2-success-line-tip,
				.swal2-success-line-long,
				.swal2-success-ring {
					border-color: map-get($colors, 'alert-success');
				}

				.swal2-success-line-tip,
				.swal2-success-line-long {
					background-color: map-get($colors, 'alert-success');
				}

				.swal2-success-ring {
					opacity: 0.3;
				}

			}

		}

		#swal2-content {
			width: 100%;
			max-width: map-get($layout, 'modal-maxwidth');
			margin: 0 auto;
		}

		#swal2-validation-message {
			margin-left: -(map-get($layout, 'padding-md'));
			margin-right: -(map-get($layout, 'padding-md'));
			text-align: center;
		}

		.swal2-actions,
		.swal2-footer {

			&,
			& > .wrapper {
				display: flex;
				width: 100%;
				max-width: map-get($layout, 'modal-maxwidth');
				margin-left: auto;
				margin-right: auto;
				border-top: none;
				padding: 0;
				flex-direction: row;
				justify-content: space-between;

				&.reverse {
					flex-direction: row-reverse;
				}

			}

			&.swal2-loading {
				justify-content: center;
				margin-top: 0;

				button {
					border-left-color: map-get($colors, 'content-secondary') !important;
					border-right-color: map-get($colors, 'content-secondary') !important;
				}

			}

			.btn {

				&:not(:first-of-type) {
					margin-right:  map-get($layout, 'padding-md');
				}

			}

		}

	}

}