.range-slider {
	text-align: center;

	h2 {
		display: inline-block;
		margin: map-get($layout, 'padding-md') 0 0;
	}

	.range-field {
		max-width: 95%;
		margin: map-get($layout, 'padding-md') auto;

		&.hide-thumb {

			.thumb {
				display: none !important;
			}

		}

		&.display-thumb {

			margin-top: map-get($layout, 'padding-sm');

			input {
				padding-top: 45px;
				margin: 0;
				-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			}

			.thumb {
				height: 30px !important;
				width: 30px !important;
				top: 2px !important;
				margin-left: -8px !important;
				border-bottom-left-radius: 0 !important;
				pointer-events: none;

				.value {
					color: map-get($colors, 'font-alt') !important;
					font-size: 10px !important;
					transform: rotate(45deg) translate(5px, 5px) !important;
					margin: 0 !important;
				}

			}

		}

	}
	
}
