#end-screen {
	visibility: hidden;

	&.animate {
		visibility: visible;

		.podium {
			transform: scale(0);
		}

	}

	.podium {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		&.icon-lg {

			.team {

				.score-wrapper {

					.score {
						font-size: 32px;
					}

					.icon {
						font-size: 132px;
					}

				}

				.name {
					font-size: 28px;
				}

			}

		}

		&.icon-md {

			.team {

				.score-wrapper {

					.score {
						font-size: 28px;
					}

					.icon {
						font-size: 112px;
					}

				}

				.name {
					font-size: 26px;
				}

			}

		}

		&.icon-sm {

			.team {

				.score-wrapper {

					.score {
						font-size: 24px;
					}

					.icon {
						font-size: 92px;
					}

				}

				.name {
					font-size: 24px;
				}

			}

		}

		.team {
			flex-grow: 1;
			padding: map-get($layout, 'padding-lg');
			text-align: center;
			min-width: 33%;
			overflow: hidden;

			& > span {
				display: block;
			}

			.score-wrapper {
				position: relative;

				.score {
					position: absolute;
					top: 35%;
					left: 50%;
					transform: translate(-50%,-50%);
					color: #fff;
				}

				.icon {

					&.gold {
						color: map-get($colors, 'gold');
					}

					&.silver {
						color: map-get($colors, 'silver');
					}

					&.bronze {
						color: map-get($colors, 'bronze');
					}

				}

			}

			.name {
				margin-top: map-get($layout, 'padding-sm');
				overflow: hidden;
				text-overflow: ellipsis;
			}

		}

	}

	.button-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		button {
			margin: 0 calc(#{map-get($layout, 'padding-sm')} / 2) map-get($layout, 'padding-md');
		}

	}

}

@media (max-width: map-get($breakpoints, 'sm')) {

	#end-screen {

		.podium {

			&.icon-lg {

				.team {

					.score-wrapper {

						.score {
							font-size: 30px;
						}

						.icon {
							font-size: 112px;
						}

					}

					.name {
						font-size: 26px;
					}

				}

			}

			&.icon-md {

				.team {

					.score-wrapper {

						.score {
							font-size: 24px;
						}

						.icon {
							font-size: 92px;
						}

					}

					.name {
						font-size: 22px;
					}

				}

			}

			&.icon-sm {

				.team {

					.score-wrapper {

						.score {
							font-size: 20px;
						}

						.icon {
							font-size: 72px;
						}

					}

					.name {
						font-size: 20px;
					}

				}

			}

		}

	}

}

@media (max-width: map-get($breakpoints, 'xs')) {

	#end-screen {

		.podium {

			&.icon-lg {

				.team {

					.score-wrapper {

						.score {
							font-size: 28px;
						}

						.icon {
							font-size: 102px;
						}

					}

					.name {
						font-size: 24px;
					}

				}

			}

			&.icon-md {

				.team {

					.score-wrapper {

						.score {
							font-size: 22px;
						}

						.icon {
							font-size: 82px;
						}

					}

					.name {
						font-size: 20px;
					}

				}

			}

			&.icon-sm {

				.team {

					.score-wrapper {

						.score {
							font-size: 18px;
						}

						.icon {
							font-size: 62px;
						}

					}

					.name {
						font-size: 18px;
					}

				}

			}

		}

	}

}