#footer-main {
	@include maxwidth(map-get($layout, 'padding-sm'), map-get($layout, 'padding-md'));

	background-color: map-get($colors, 'content-primary');
	padding-bottom: map-get($layout, 'padding-md');
	z-index: map-get($zIndex, 'footer');

	.footer-inner {
		position: relative;

		.version {
			font-size: map-get($font-size, 'text-sm');
			opacity: 0.4;
		}

		#admin-menu-wrapper {
			@include maxwidth(map-get($layout, 'padding-sm'), map-get($layout, 'padding-md'));

			position: fixed;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			z-index: map-get($zIndex, 'dropdown');

			#admin-dropdown {
				position: absolute;
				right: map-get($layout, 'padding-md');
				bottom: map-get($layout, 'padding-md');

				.dropdown-trigger {
					position: relative;

					svg {
						position: absolute;
						bottom: -1px;
						right: 0;
					}

				}

			}
		
		}


	}

}