#game-options {

	#team-editor {
		box-shadow: none;
		border-right: none;
		border-left: none;
		margin: map-get($layout, 'padding-lg') -#{map-get($layout, 'padding-md')} -#{map-get($layout, 'padding-lg')};

		li {

			&.active {

				.collapsible-header {

					.title {

						svg {
							transform: rotate(90deg);
						}

					}

				}

			}

			.collapsible-header {
				padding: map-get($layout, 'padding-md');
				font-size: map-get($font-size, 'heading-sm');
				display: flex;
				justify-content: space-between;

				.title {

					svg {
						margin-right: map-get($layout, 'padding-sm');
						transition-duration: map-get($timing, 'short');
					}

				}

				.num-of-teams {
					position: relative;
					text-align: center;
					align-self: center;

					span {
						font-weight: 500;
						font-size: map-get($font-size, 'text-md');
						vertical-align: middle;
					}

					svg {
						top: -3px;
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						margin: 0;
						width: map-get($font-size, 'icon-md');
						height: map-get($font-size, 'icon-md');
						opacity: 0.5;
					}

				}

			}

			.collapsible-body {
				padding: 0;

				.collection-item {
					display: flex;
					align-items: center;
					padding: map-get($layout, 'padding-sm') map-get($layout, 'padding-md');
					font-size: map-get($font-size, 'heading-sm');

					&:hover,
					&:focus,
					&:active {

						svg {
							opacity: 1;
							width: 25px;
							margin-right: 5px;
						}

					}

					&,
					&.active {
						background-color: initial;
						color: initial;

						svg {
							opacity: 0;
							width: 0;
							margin-right: 0;
							transition-duration: map-get($timing, 'short');
						}

					}

					svg,
					.edit-field {
						cursor: pointer;
					}

					.edit-field {
						width: 100%;
						padding: calc(#{map-get($layout, 'padding-sm')} / 2) map-get($layout, 'padding-sm');
						display: inline-block;
					}

				}

			}

		}

	}

	#time-clock {

		.value {
			max-width: map-get($layout, 'clock-maxwidth');
		}

		.fa-stack {
			max-width: map-get($layout, 'clock-maxwidth');

			.fa-stack-1x {
				width: auto;
			}

		}

		.controls {
			max-width: calc(#{map-get($layout, 'clock-maxwidth')} + 120px);
		}

	}

	.select-wrapper {
		display: flex;
		justify-content: center;
		max-width: map-get($layout, 'select-wrapper-maxwidth');
		margin: 0 auto;
		flex-wrap: wrap;

		#game-type {
			width: 100%;
			max-width: 80%;
			margin: 0;
		}

		#gametype-help-icon {
			position: relative;
			cursor: pointer;
			margin-left: map-get($layout, 'padding-sm');
			width: map-get($font-size, 'icon-sm');
			height: auto;
			opacity: 0;
			display: none;

			svg {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: map-get($font-size, 'icon-sm');
				height: auto;
				color: map-get($colors, 'content-secondary');
			}

			.close {
				display: none;
			}

		}

		#gametype-help-info {
			width: 100%;
			margin-left: 14px;
			padding: 0;
			height: 0;
			overflow: hidden;

			&.alert {
				color: map-get($colors, 'alert-error');
				margin-left: 34px;
			}

		}

	}

	.tab {
		max-height: 0;
		overflow: hidden;
	}

	#num-points {
		max-width: 400px;
		margin: 0 auto;
		padding: 0 3px;
	}

	#start-game {
		margin: map-get($layout, 'padding-lg') auto 0;
	}

}