#header-main {
	position: relative;
	min-height: map-get($layout, 'header-minheight');
	z-index: map-get($zIndex, 'header');
	background-color: map-get($colors, 'content-primary');

	.header-inner {
		padding: map-get($layout, 'padding-lg');
		text-align: center;
	}

}