#pre-turn {

	.team-name {
		display: block;
		text-align: center;
		font-size: map-get($font-size, 'heading-lg');
		word-break: break-word;
	}

	#start-turn {
		position: relative;
		display: block;
		width: map-get($layout, 'button-start-turn');
		height: map-get($layout, 'button-start-turn');
		margin: 100px auto 0;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

		&:hover,
		&:focus {

			.animation-wrapper {
				fill: lighten(map-get($colors, 'content-secondary'), 5%);
			}

		}

		.icon {
			color: map-get($colors, 'content-primary');
			position: absolute;
			width: map-get($font-size, 'icon-lg');
			height: auto;
			top: 50%;
			left: 55%;
			transform: translate(-50%,-50%);
			z-index: 1;
		}

		.animation-wrapper {
			@include mat-boxshadow();

			fill: map-get($colors, 'content-secondary');
			transform-origin: 50% 50%;
			overflow: visible;
			transform: rotate(-90deg);
			width: auto;
			height: auto;
			border-radius: 100%;
			transition-duration: map-get($timing, 'short');

			stroke: lighten(map-get($colors, 'content-secondary'), 10%);
			stroke-width: 40;
			stroke-dasharray: 800;
			stroke-dashoffset: 800;
		}
		
	}

}