#score {

	.page-title {
		text-transform: capitalize;
		margin: map-get($layout, 'padding-sm') 0 map-get($layout, 'padding-md');
	}

	#score-display {
		visibility: hidden;

		.team {
			display: flex;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			justify-content: flex-end;
			overflow: hidden;

			&:nth-of-type(even) {
				@include score-bg(
					map-get($colors, 'content-primary'), 
					rgba(38,166,154,0.1), 
					rgba(38,166,154,0.1)
				);
			}

			&:nth-of-type(odd) {
				@include score-bg(
					map-get($colors, 'content-primary'), 
					rgba(38,166,154,0.2), 
					rgba(38,166,154,0.2)
				);
			}

			& > span {
				display: block;
			}

			.name {
				flex-grow: 1;
				text-align: center;
				font-size: map-get($font-size, 'heading-sm');
				overflow: hidden;
				text-overflow: ellipsis;
				padding: map-get($layout, 'padding-md') 0 map-get($layout, 'padding-md') map-get($layout, 'padding-lg');

				.inner {
					vertical-align: sub;
				}

			}

			.score-wrapper {
				padding: map-get($layout, 'padding-md') map-get($layout, 'padding-lg') map-get($layout, 'padding-md') 0;

				.icon {
					font-size: map-get($font-size, 'icon-sm');

					&.gold {
						color: map-get($colors, 'gold');
					}

					&.silver {
						color: map-get($colors, 'silver');
					}

					&.bronze {
						color: map-get($colors, 'bronze');
					}

					&.hidden {
						visibility: hidden;
					}

				}

				.score {
					padding: 0 map-get($layout, 'padding-md');
					font-size: map-get($font-size, 'heading-md');
					font-weight: 600;
				}

			}

		}

	}

	button {
		margin: map-get($layout, 'padding-lg') auto 0;
	}

}

@media (max-width: map-get($breakpoints, 'md')) {

	#score {

		#score-display {

			.team {

				.name {
					padding-left: map-get($layout, 'padding-sm');
				}

				.score-wrapper {
					padding-right: map-get($layout, 'padding-md');
				}
				
			}

		}

	}

}

@media (max-width: map-get($breakpoints, 'xs')) {

	#score {

		#score-display {

			.team {

				.name,
				.score-wrapper {
					padding-top: map-get($layout, 'padding-sm');
					padding-bottom: map-get($layout, 'padding-sm');
				}

				.name {
					font-size: map-get($font-size, 'text-lg');
				}

				.score-wrapper {

					.score {
						padding: 0 map-get($layout, 'padding-sm');
					}

				}

			}

		}

	}

}