#toolbar {
	@include maxwidth(map-get($layout, 'padding-sm'));

	display: flex;
	position: fixed;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
	background-color: map-get($colors, 'content-primary');

	button {

		svg {
			background-color: transparent !important;
		}

	}

	#opt-back {
		min-width: 85px;
		padding-left: map-get($layout, 'padding-md');
		margin-right: auto;
	}

	.btn-flat {
		padding: 0;
		margin-left: map-get($layout, 'padding-lg');
		background-color: transparent !important;

		svg {
			color: map-get($colors, 'content-secondary');
		}

	}

}

@media (max-width: map-get($breakpoints, 'xs')) {

	#toolbar {
		padding-left: map-get($layout, 'padding-md');
		padding-right: map-get($layout, 'padding-md');
	}

}