#turn {
	font-size: map-get($font-size, 'heading-lg');
	text-align: center;

	&.anim-start {

		#turn-title {
			margin-top: 0;

			.inner {
				font-size: map-get($font-size, 'heading-md') !important;
				right: 0;
				transform: translateX(0);

				&.text-overflow {

					.team-name {
						transition-duration: map-get($timing, 'medium');
					}

				}

				.round-large,
				.round-small {
					transition-duration: map-get($timing, 'medium');
				}

				.round-large {
					width: 0 !important;
					opacity: 0;
				}

				.round-small {
					max-width: 60px;
					opacity: 1;
				}

			}

		}

		#turn-timer {
			margin-top: map-get($layout, 'padding-lg');
		}

	}

	#turn-title {
		display: block;
		margin: calc(#{map-get($layout, 'padding-lg')} * 2) 0 0;
		position: relative;
		line-height: 0;
		height: 68px;
		transition-duration: map-get($timing, 'medium');

		.inner {
			position: absolute;
			top: 0;
			right: 50%;
			transform: translateX(50%);
			white-space: nowrap;
			line-height: 68px;
			overflow: hidden;
			max-width: 100%;
			transition-duration: map-get($timing, 'medium');

			&.text-overflow {

				.team-name {
					text-overflow: ellipsis;
					max-width: 75%
				}

			}

			& > span {
				display: inline-block;
				overflow: hidden;
				vertical-align: bottom;
				text-align: center;
			}

			.team-name,
			.separator {
				padding-right: map-get($layout, 'padding-md');
			}

			.round-small {
				font-size: map-get($font-size, 'heading-md');
				max-width: 0;
				opacity: 0;

				.icon {
					color: map-get($colors, 'content-secondary');
				}

				.round-counter {
					margin-left: 5px;
				}

			}

		}
		
	}

	#turn-timer {
		font-size: map-get($font-size, 'heading-xl');
		margin-top: calc(#{map-get($layout, 'padding-lg')} * 2);
		transition-duration: map-get($timing, 'medium');
	}

	#word {
		opacity: 1;
		overflow: hidden;
		height: auto;
		transition-duration: map-get($timing, 'medium');

		&.hidden {
			opacity: 0;
			height: 0;

			.word-wrapper {
				font-size: 0;
			}

		}

		.word-wrapper {
			display: flex;
			font-size: map-get($font-size, 'heading-xl');
			transition-duration: map-get($timing, 'short');
			height: 200px;
			align-items: center;
			justify-content: center;
			text-transform: capitalize;

			&.text-overflow {
				word-break: break-word;
				font-size: map-get($font-size, 'heading-md') !important;
			}

		}

		.controls {
			padding-top: map-get($layout, 'padding-md');

			& > span {
				cursor: pointer;
				padding: 0 map-get($layout, 'padding-lg');
				font-size: map-get($font-size, 'icon-xl');

				&:first-of-type {
					padding-left: 0;
				}

				&:last-of-type {
					padding-right: 0;
				}

			}

			#word-correct {
				color: map-get($colors, 'alert-success');
			}

			#word-skip {
				color: map-get($colors, 'alert-error');
			}

		}

	}

}

@media (max-width: map-get($breakpoints, 'xs')) {

	#turn {
		font-size: map-get($font-size, 'heading-md');

		&.anim-start {

			#turn-title {

				.inner {

					&.text-overflow {

						.team-name {
							max-width: 70%
						}

					}

				}

			}

			#turn-timer {
				margin-top: 0;
			}

		}

		#turn-title {

			.inner {

				&.text-overflow {

					.team-name {
						max-width: 47%
					}

				}

			}

		}

	}

}